/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
}

.error-container{
    color: red;
}

.btn{
    width: 180px;
    height: 35px;
    background-color: rgb(146, 87, 161);
    color: #fff;
    font-weight: 400;
    border: 1px solid rgb(146, 87, 161);;
    border-radius: 5%;

    &:hover{
        background-color: rgb(184, 119, 201);
        cursor: pointer;
        box-shadow: 10px 10px 10px #ddd;
    }

    &[disabled]{
        background-color: rgb(190, 159, 197);
        box-shadow: none;
    }
}

