<div class="container_corrections">
  <h2 class="font-title">BIENVENIDO A CORRECCIONES</h2>

  <mat-tab-group>
    <mat-tab label="Operadores">
      <div class="container-users">

        <h3>Agregar nuevo usuario</h3>
        <div>
          <app-user-form></app-user-form>
        </div>
        <div>
          <mat-list>
            <mat-list-item *ngFor="let operator of operators">{{operator.name}} </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Lineas">
      <h3>Lineas</h3>
      <mat-list>
        <mat-list-item *ngFor="let line of lines">{{line.id}} -- {{line.line}} -- <button class="btn" (click)="onEdit(line.id)">Editar</button></mat-list-item>
      </mat-list>
    </mat-tab>

    <mat-tab label="Registros">
      <app-line-form></app-line-form>
    </mat-tab>
  </mat-tab-group>

  <button class="btn" type="button" (click)="onClickLogout()">Cerrar sesión</button>
</div>