<tr>
  <td> {{info.line}} </td>

  <td *ngFor="let date of info.infoWeek"
  [ngClass]="{
    'b-green': (date.valueGE >= 95),
    'b-red': (date.valueGE &#60; 95),
    'b-null': (date.valueGE == null || date.valueGE == 0)
  }">
    {{date.valueGE}}
  </td>

  <td 
  [ngClass]="{
    'b-green': (avg >= 95),
    'b-red': (avg &#60; 95),
    'b-null': (avg == null || avg == 0)
  }"> {{avg | number:'1.1-2'}} </td>
  
  <td> {{info.volplan}} </td>
  <td> {{info.volreal}} </td>
  <td> {{info.kgvar}} </td>
</tr>