<div class="container">

  <div class="section-1">
    <div class="subsection-1">
      <form [formGroup]="form">
        <div class="fields">
          <div class="field">
            <label>Elige la linea</label>
            <mat-select formControlName="line" placeholder="Selecciona" (selectionChange)="selectDropDown($event.value)">
              <mat-option *ngFor="let line of lines; let i=index" [value]="line.key">{{line.name}}</mat-option>
            </mat-select>
            <div class="error-container" *ngIf="getLine.invalid && (getTurn.dirty || getTurn.touched)">
              <h6 *ngIf="getLine.errors.required">Es necesario la seleccion</h6>
            </div>
          </div>


          <div class="field">
            <label>Operadores</label>
            <mat-select formControlName="operator" placeholder="Selecciona">
              <mat-option *ngFor="let opt of operators;" [value]="opt.name">{{opt.name}}</mat-option>
            </mat-select>
            <div class="error-container" *ngIf="getOperator.invalid && (getOperator.dirty || getOperator.touched)">
              <h6 *ngIf="getOperator.errors.required">Es necesario la seleccion</h6>
            </div>
          </div>
        </div>

        <div class="fields">
          <div class="field">
            <label>Elige el turno</label>
            <mat-select formControlName="turn" placeholder="Selecciona">
              <mat-option value="1">Turno1-480min</mat-option>
              <mat-option value="2">Turno2-450min</mat-option>
              <mat-option value="3">Turno3-510min</mat-option>
            </mat-select>
            <div class="error-container" *ngIf="getTurn.invalid && (getTurn.dirty || getTurn.touched)">
              <h6 *ngIf="getTurn.errors.required">Es necesario la seleccion</h6>
            </div>
          </div>

          <div class="field">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Selecciona la fecha" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="fields">
          <form [formGroup]="formTotal">
            <div class="field">
              <mat-form-field>
                <input type="text" readonly matInput placeholder="OEE Total (%)">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <input type="text" readonly matInput placeholder="GE Total (%)">
              </mat-form-field>
            </div>
          </form>
        </div>
      </form>
    </div>


    <div class="subsection-2">

    </div>
  </div>

  {{form.value | json}}

</div>