.fields{
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: 10px 0 0 15px;

  .field{
      width: 50%;
      padding: 5px;
  }
}

.report-container {
  .table {
    table {
      tr {
        th {
          border: 2px solid rgb(31, 36, 110);

          tr {
            th {
              border: 2px solid rgb(31, 110, 57);
            }
          }
        }
      }
    }
  }
}