<form [formGroup]="formParent">

  <button mat-raised-button color="primary" (click)="addSkuClick();">Agregar nuevo producto</button>

  <div formArrayName="sku" class="sku-container" *ngFor="let sku of formParent.get('sku').controls; let i = index;">

    <h5>SKU {{i}}</h5>

    <div class="fields" [formGroupName]="i">
      <mat-form-field>
        <input matInput placeholder="Tiempo de producción" type="text" [id]="'ptime'+i" formControlName="productionTime" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Volumen" type="text" [id]="'vol'+i" formControlName="volume" />
      </mat-form-field>

      <mat-form-field>
        <!-- <input matInput placeholder="Descripción" type="text" [id]="'desc'+i" formControlName="description" /> -->
        <mat-select placeholder="Selecciona" formControlName="description">
          <mat-option value="1">Opcion 1</mat-option>
          <mat-option value="2">Opcion 2</mat-option>
          <mat-option value="3">Opcion 3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Desperdicio (kg)" type="text" [id]="'desp'+i" formControlName="waste" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Retenciones (Cjs)" type="text" [id]="'ret'+i" formControlName="retentions" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Reproceso (Kg)" type="text" [id]="'rep'+i" formControlName="reprocess" />
      </mat-form-field>

      <div>
        <form>
          <label>Resultados</label>
        </form>
      </div>

      <button mat-raised-button color="primary" (click)="addOcurrenceClick(i)">Agregar ocurrencia</button>

      <div formArrayName="ocurrences" *ngFor="let ocurrence of sku['controls'].ocurrences.controls; let j = index;">
        <div class="field-ocurrences" [formGroupName]="j">
          <label [attr.for]="'desc'+j">Descripción</label>
          <select [id]="'desc'+j" formControlName="key">
            <option value="1">Opcion 1</option>
            <option value="2">Opcion 2</option>
          </select>

          <mat-form-field>
            <input matInput placeholder="Minutos" type="number" [id]="'ocu'+j" formControlName="minutes" />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Ocurrencias" type="number" [id]="'numOcu'+j" formControlName="numberOcurrence">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>

<button mat-raised-button color="primary"  (click)="onSave();">Guardar</button>