<div class="container" [formGroup]="formParent">

  <div formArrayName="sku" class="sku-container" *ngFor="let sku of formParent.get('sku').controls; let i = index;">

    <h5>SKU {{i}}</h5>

    <div class="fields" [formGroupName]="i">

      <div class="section sub1">
        <mat-form-field style="width:50%;">
          <input matInput placeholder="Tiempo de producción" type="number" [id]="'ptime'+i" formControlName="productionTime" />
        </mat-form-field>

        <mat-form-field style="width:50%;">
          <input matInput placeholder="Volumen" type="text" [id]="'vol'+i" formControlName="volume" />
        </mat-form-field>
      </div>


      <div class="section">
        <mat-form-field>
          <mat-select placeholder="Selecciona" formControlName="description">
            <mat-option value="1">Opcion 1</mat-option>
            <mat-option value="2">Opcion 2</mat-option>
            <mat-option value="3">Opcion 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="section">
        <mat-form-field>
          <input matInput placeholder="Desperdicio (kg)" type="text" [id]="'desp'+i" formControlName="waste" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Retenciones (Cjs)" type="text" [id]="'ret'+i" formControlName="retentions" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Reproceso (Kg)" type="text" [id]="'rep'+i" formControlName="reprocess" />
        </mat-form-field>
      </div>



      <!-- resultados -->
      <div class="section">

          <!-- OEE y GE -->
          <div class="sub-1">
            <mat-form-field>
              <input matInput placeholder="OEE (%)" type="text" readonly formControlName="oee">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="GE (%)" type="text" readonly formControlName="ge">
            </mat-form-field>
          </div>


          <!-- TLD -->
          <div class="sub-2">
            <mat-form-field>
              <input matInput placeholder="TLD" type="text" readonly formControlName="tld">
            </mat-form-field>
          </div>


          <!-- kg/min kg/CJ -->
          <div class="sub-3">
            <mat-form-field>
              <input matInput placeholder="kg/min" type="text" readonly formControlName="kgMin">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="kg/cj" type="text" readonly formControlName="kgCj">
            </mat-form-field>
          </div>

          <!-- Paros no programados -->

          <!-- Perdida de velocidad -->
          <div class="section">
            <mat-form-field>
              <input matInput placeholder="Perdida de tiempo" type="text" readonly formControlName="wasteTime">
            </mat-form-field>
          </div>
      </div>
    </div>
  </div>
</div>